/* style.css */

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

article {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 2px black
}

h2 {
    margin-top: 0;
}

p {
    margin-bottom: 0;
}